*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

/* Cores: 
    #teste{
        color: #1168FF;
        color: #1FFA8A;
        color: #86F4C1;
        color: #4DA3A1;
        color: #487070;
    }
    */
    #teste{
        color: rgb(21, 68, 148);
        color: rgb(31, 250, 138);
        color: rgb(134, 244, 193);
        color: rgb(77, 163, 161);
        color: rgb(72, 112, 112);
        color: rgb(45, 45, 60);
    }
    
:root{
    --main-c: 21, 68, 148;
    --sec-c: 31, 250, 138;
    --tert-c: 134, 244, 193;
    --quat-c: 77, 163, 161;
    --quin-c: 72, 112, 112;
    --dark-c: 45, 45, 60;
}

body{
    background-color: rgba(10, 10, 15, .9) !important;
    color: white !important;
}

.img-search{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 250px;
    height: 250px;
}

.btnG{
    border-radius: 5px;
    padding: 3px 6px;
    margin: 1em;
    border: none !important;
}
.btnG-green{
    background-color: rgb(var(--sec-c));
    box-shadow: 0px 0px 5px rgb(var(--quin-c));
}
.btnG-dark-green{
    background-color: rgb(var(--quin-c));
    color: rgb(var(--tert-c));
}
.btnG-dark-green:hover, .btnG-dark-green:active{
    background-color: rgba(var(--quin-c), .8);
}
.btnG-light-green{
    background-color: rgb(var(--tert-c));
    color: rgb(var(--quin-c));
}
.btnG-light-green:hover, .btnG-light-green:active{
    background-color: rgba(var(--tert-c), .8);
}
#modalList{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.newChecklist{
    width: 250px;
    height: auto;
    background-color: rgb(var(--quin-c));
    color: rgb(var(--tert-c));
}
.newChecklist>legend{
    color: rgb(var(--sec-c));
}

.checklists{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: .5em;
}

.checklist-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    width: 30em;
    background-color: rgb(var(--dark-c));
    margin: 1em 0 1em 3em;
    padding: .5em 1em;

}

.checklist-task{
    margin: .75em 0;
    border-radius: 5px;
    display: grid;
    row-gap: 1em;
    padding: .75em;
}
.checklist-task>div{
    background-color: rgb(var(--dark-c));
}

.task-checked~label{
    color: rgb(var(--tert-c));
    text-decoration: line-through !important;
}

.actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}