@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Inter&Architects+Daughter&display=swap");

body {
    background-color: rgb(var(--dark-c)) !important;
    color: white !important;
    overflow-x: hidden !important;
}

nav{
    background-color: rgba(var(--light-c), .1);
}

.navbar-title {
    font-size: 25pt;
    font-family: "Architects Daughter", cursive;
    color: rgb(var(--sec-c)) !important;
    text-shadow: .5px .5px .5px rgba(var(--quin-c), .75) !important;
}

.img-search {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 250px;
    height: 250px;
}

#modalList {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.formChecklist {
    width: 250px;
    height: auto;
    background-color: rgb(var(--quin-c));
    color: rgb(var(--tert-c));
}
.formChecklist > legend {
    color: rgb(var(--sec-c));
}

.checklists {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.5em;
}

.checklist-card {
    order: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    width: 30em;
    background-color: rgba(var(--light-c), .1);
    margin: 1em 0 1em 3em;
    padding: 0.5em 1em;
    transition: .25s linear;
}
.checklist-card:hover{
    box-shadow: 0 0 1px 1px rgba(var(--light-c), .5);
} 
.checklist-card .checklist-date {
    font-size: small;
    color: rgba(var(--light-c), .85);
}

.checklist-task {
    margin: 0.75em 0;
    border-radius: 5px;
    display: grid;
    row-gap: 1em;
    padding: 0.75em;
}
.checklist-task > div {
    background-color: rgba(var(--light-c), .1);
    border: 1px solid rgba(var(--light-c), .1);
}

.task-checked ~ label {
    color: rgb(var(--tert-c));
    text-decoration: line-through !important;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-dashboard-empty{
    width: 225px;
}

.datePassed{
    order: 3;
    background-color: rgba(255, 94, 108, 0.2) !important;
}
.datePassed:hover{
    box-shadow: 0 0 1px 1px rgb(255, 94, 108);
}
.datePassed .listDate{
    color: rgb(255, 145, 154) !important;
}
.dateAgo {
    order: 1;
    background-color: rgba(253, 233, 165, 0.2) !important;
}
.dateAgo:hover {
    box-shadow: 0 0 1px 1px rgb(255, 233, 159);
}
.dateAgo .listDate{
    color: rgb(255, 233, 159) !important;
}