@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Inter&Architects+Daughter&display=swap");

body {
    background-color: rgb(var(--dark-c)) !important;
    color: white !important;
    overflow-x: hidden !important;
}

nav{
    background-color: rgba(var(--light-c), .1);
}

.navbar-title {
    font-size: 25pt;
    font-family: "Architects Daughter", cursive;
    color: rgb(var(--sec-c)) !important;
    text-shadow: .5px .5px .5px rgba(var(--quin-c), .75) !important;
}

.img-search {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 250px;
    height: 250px;
}

#modalList {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.newChecklist {
    width: 250px;
    height: auto;
    background-color: rgb(var(--quin-c));
    color: rgb(var(--tert-c));
}
.newChecklist > legend {
    color: rgb(var(--sec-c));
}

.checklists {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.5em;
}

.checklist-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    width: 30em;
    background-color: rgba(var(--light-c), .1);
    margin: 1em 0 1em 3em;
    padding: 0.5em 1em;
}

.checklist-task {
    margin: 0.75em 0;
    border-radius: 5px;
    display: grid;
    row-gap: 1em;
    padding: 0.75em;
}
.checklist-task > div {
    background-color: rgba(var(--light-c), .1);
    border: 1px solid rgba(var(--light-c), .1);
}

.task-checked ~ label {
    color: rgb(var(--tert-c));
    text-decoration: line-through !important;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
